content {
    display: grid;
    grid-template-columns: 1fr 220px;
    grid-gap: 15px;
}

article {
    padding: 20px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
}

sidebar {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

#bioPic, #bookPic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: auto;
    background-position: center;
}

#bioPic {
    background-image: url("https://img.yachting.org/gallery/4/200/3103.jpg");
}

#bookPic {
    background-image: url("https://www.packtpub.com/media/catalog/product/cache/bf3310292d6e1b4ca15aeea773aca35e/1/8/1847194427.jpg");
}

@media (max-width: 550px) {
    sidebar{
        display: none;
    }
}