
#tileContainer{
    display: grid;
    justify-content: center;
    /* max-width: 100vw; */
    margin: 20px auto 0px auto;  
    grid-template-columns: repeat(3, 270px);     /* This would force it too wide on mobile so have media query */
    /* grid-template-rows: repeat(2, 400px); */
    /* grid-auto-columns: minmax(100px, auto);  */
    /* grid-template-areas: ""; */
    grid-gap: 20px;
}

.tilewrapper{
    width: 248px;
    /* margin: 10px; */
    background-color: #fff;
    padding: 0px;
    height: 370px;
    box-shadow: 0px 2px 4px #d0d0d0;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.tilewrapper h2 {
    color: #6e7696;
}

/* Not using my .tileouterwrapper in this because it is superflous */

.tileinnerwrapper {
    height: 150px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
}

.tileimagewrapper{
    background-position: center center;
    background-repeat: no-repeat;
    text-align: right;    
    height:150px;
}

.tile-body{
    padding: 0px 10px 0px 10px;
}

/* This site is desktop first */ 
@media (max-width: 780px) {
    #tileContainer{
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 520px) {
    #tileContainer{
        grid-template-columns: 250px;
    }
}
