/* Naming convention notes:
- ID names use camel case because that is my preference
- Some class names are not in kebab case for backward compatibility */

body {
    color: #000;
    font-family: lato, arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited {
    color: #000000;
}

h2{
    font-weight: bold;
    display: inline;
    font-family: ubuntu, arial;
}

header {
    text-align: center;
    background-color: #000;
    height: 70px;
    padding-top: 20px;
}

header h1 {
    color: #fff;
    margin: 0px;
}

nav {
    background: #6e7696;
}

nav ul {
    padding: 0px;
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
    justify-content: space-evenly;    
}

nav li {
    list-style: none;
    text-align: center;
    background-color: #6e7696;
    padding: 0px 20px;
    line-height: 50px;
    width: 100px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    background-color: #6e7696;
}

nav li a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000;
}
