body {
    height: 100%;
    color: #000;
    font-family: lato, arial, helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 0px;
    min-height: 100%;
    padding: 0px;
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a:link, a:visited {
    color: #000000;
}

h2{
    font-weight: bold;
    display: inline;
    font-family: ubuntu, arial;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tilewrapper{
    width: 210px;
    margin: 10px;
    background-color: #fff;
    padding: 0px;
    font-size: 14px;
    height: 370px;
    box-shadow: 0px 2px 4px #d0d0d0;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    /* position: relative; */
    transition: top ease 0.5s;
    /* top: 0px; */
    transition: box-shadow ease 0.5s;
}

.tilewrapper h2 {
    font-weight: 300;
    font-size: 16px;
    color: #6e7696;
}

.tileinnerwrapper {
    padding-bottom: 10px;
    text-align: center;
    display: block;
}



